{% extends "main/base.html" %}

{% block title %}-Add an article-{% endblock title %}

{% block content %}
    <div class='features'>
        <h1>Add a news article</h1>
        <div class='article'>
            <form method="post" class="add-new-article" enctype="multipart/form-data">
                {%csrf_token %}
                    <h4>Title:</h4>
                    {{ form.title }}
                    <p style="color: red">** Slug ( Url ) will be created automatically from the title</p>
                    <h4>Rubric:</h4>
                    {{ form.rubric }}<br>
                    <h4>Full text:</h4>
                    {{ form.text }}<br>
                    <h4>Add an image:</h4>
                    {{ form.photo }}<br>
                    <h4>Captcha:</h4>
                    {{ form.captcha }}
                    <p style="color:red">{{ error }}</p>
                <button class="btn btn-success" type="submit"> Add article </button>
            </form>
        </div>
    </div>
{% endblock content %}

