{% extends "main/base.html" %}

{% block title %}-Rubric {{current_rubric}} -{% endblock title %}

{% block content %}
<div class="features">
    <div class="news_roll">
        <h2>All news in "{{current_rubric}}" rubric: </h2>
        {% if news_by_rubric %}
            {% for article in news_by_rubric %}
                <div class='article'>
                    <h1> {{ article.title }} </h1>
                    <p> <strong>Rubric: </strong> {{ article.rubric }} </p>
                    <img src="{{ article.photo.url }}" width ="700">
                    <p> {{ article.text }} </p>
                    <p><strong>Published:</strong> {{article.date}}  ({{article.date|timesince}} ago )</p>
                    <p><strong>Written by: </strong> {{article.author}}</p>
                    <a href="{% url 'DetailView' article.id %}" class="btn btn-warning"> Read full article </a>
                    <br>
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}

