{% extends "main/base.html" %}
{% load sidebar_right %}
{% block title %} {{article.title}} {% endblock title %}
{% load static %}
{% load cache %}

{% block content %}
    <div class="container">
        <div class='features'>
            <div class='article'>
                <h1> {{ article.title }} </h1>
                <p><strong>Rubric: </strong><a href="{% url 'by_rubric' article.rubric_id %}"> {{article.rubric}}</a></p>
                <p><strong>Views:  </strong>{{ article.views }}</p>
                {% if article.photo%}
                    <img src="{{ article.photo.url }}" class="img-news" alt="{{ article.title }}">
                {% endif %}
                <p> {{ article.text|safe }} </p>
                <p><strong>Published:</strong> {{article.date}}  ({{article.date|timesince}} ago )</p>
                <p><strong>Written by: </strong> {{article.author}}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'news_index' %}" class="btn btn-warning"> Back to the news roll </a>
                    <a href="{% url 'ArticleUpdate' article.slug %}" class="btn btn-primary"> Update this article </a>
                    <a href="{% url 'ArticleDelete' article.slug %}" class="btn btn-danger"> Delete this article </a>
                {% else %}
                    <a href="{% url 'news_index' %}" class="btn btn-warning"> Back to the news roll </a>
                    <p> <small style="color: red">***Please login, to be able to update and delete articles</small> </p>
                {% endif %}
                <br>
                <br>
            </div>
        </div>

        <div class="col-md-4 sidebar_right">
            {% cache 60 sidebar_right %}
                {% get_popular_articles %}
            {% endcache %}
        </div>

    </div>
{% endblock content %}

