{% extends "main/base.html" %}
{% load sidebar_right %}
{% load static %}
{% load cache %}


{% block title %}
    {% if current_rubric %}
        -Rubric {{current_rubric}} -
    {% else %}
        -All news-
    {%  endif %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="features">
        <div class="news_roll">
            {% if current_rubric %}
                <h1>All news in "{{current_rubric}}" rubric: </h1>
            {% else %}
                <h1>All news</h1>
            {%  endif %}

            {% include "main/paginator.html" %}

            {%for item in page_obj %}
                <div class='article'>
                    <h2> {{item.title}}</h2>
                    <p><strong>Rubric: </strong><a href="{% url 'by_rubric' item.rubric_id %}"> {{item.rubric}}</a></p>
                    {% if item.photo%}
                        <img src="{{ item.photo.url }}" class="img-news">
	                {% endif %}
                    <p>{{item.text|safe|linebreaks|truncatewords:50}}</p>
                    <p><strong>Published:</strong> {{item.date}}  ({{item.date|timesince}} ago )</p>
                    <p><strong>Written by: </strong> {{item.author}}</p>
                    <a href="{% url 'DetailView' item.id %}" class="btn btn-warning"> Read full article </a>
                    <br>
                    <br>
                </div>
            {%endfor%}
            <br>
            {% include "main/paginator.html" %}
            <br>
        </div>
    </div>

        <div class="col-md-4 sidebar_right">
            {% cache 40 sidebar_right %}
                {% get_popular_articles %}
            {% endcache %}
        </div>
    </div>
{% endblock content %}

