{% extends "main/base.html" %}

{% block title %}-All news-{% endblock title %}

{% block content %}
<div class="features">
    <div class="news_roll">
        <h1>Main news page</h1>
        {%for item in context %}
            <div class='article'>
                <h2> {{item.title}}</h2>
                <p><strong>Rubric: </strong> {{item.rubric}}</p>
                <p>{{item.date}}</p>
                <p><strong>Written by: </strong> {{item.author}}</p>
                <a href="{% url 'DetailView' item.id %}" class="btn btn-warning"> Read full article </a>
                <br>
                <br>
            </div>
        {%endfor%}
        <br>
        <br>
    </div>
</div>
{% endblock content %}

