<h3> Popular articles </h3>
<div>
    {% for article in articles %}
    <div>
        {% if article.photo %}
            <img src="{{ article.photo.url }}" alt="{{ article.title }}" style="width: 200px;">
        {% endif %}

        <div>
            <h5><a href="{% url 'DetailView' article.slug %}"> {{ article.title }} </a></h5>
            <p> <strong>Posted by: </strong> {{ article.author }} <span> | </span> <strong>Published: </strong> {{ article.date }}</p>
        </div>
    </div>
    {% endfor %}
</div>


