* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2c2c2c;
}

aside {
  position: sticky;
  top: 0px;
  width: 203px;
  background: #181818;
  padding: 10px;
  height: 270vh;
  color: rgba(209, 209, 209, 0.986);
  border: 1px solid #3a3a3a;
}

aside img {
  width: 80px;
  display: block;
  margin: 0 auto;
}

aside .logo {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 54, 54);
}

aside a {
  text-decoration-line: none;
  color: rgb(206, 206, 206);
}

aside ul {
  padding-left: 1rem;
}

aside ul li {
  color: rgb(207, 207, 207);
  display: block;
  margin-bottom: 10px;
  transition: transform 0.5s ease;
  list-style: none;
}

aside ul li:hover,
aside ul a:hover {
  color: rgb(255, 54, 54);
  font-weight: bold;
  text-decoration: none;
  transform: scale3d(1.1, 1.1, 1.1);
}

.article {
  border: 1px solid #3a3a3a;
  border-radius: 1%;
  width: 800px;
  margin: 20px auto;
}

.features {
  color: rgb(207, 207, 207);
  text-align: center;
  width: 80%;
}

.features p,
h1,
h2,
h3 {
  width: 90%;
  margin: 20px auto;
  text-align: justify;
}

.features h4 {
  text-align: left;
}

.features h1 {
  font-size: 50px;
  color: #f5c236;
  text-align: center;
}

.img-news {
  width: 90%;
}

.main_page {
  width: 90%;
  margin: 20px auto;
}

.main_page li {
  text-align: left;
}

.add-new-article {
  width: 90%;
  margin: 20px auto;
  text-align: left;
}

.registration {
  padding: 0 100px;
  color: rgb(209, 209, 209);
  text-align: left;
}

.registration label {
  font-size: 30px;
}

.registration p {
  margin:0;
}

.registration h2, h3 {
  margin-left: 0;
  margin-bottom: 0;
}

.registration h2 {
  color: #f5c236;
  text-align: center;
}


#registration_btn {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.delete {
  display: flex;
  justify-content: center;
}

.container {
    display: flex;
    gap: 10px;
  }

.sidebar_right {
    position: sticky;
    top: 0;
    height: 250vh;
    flex-shrink: 1;
    color: rgba(209, 209, 209, 0.986);
    padding: 20px;
    max-width: 300px;

  }

.sidebar_right h3 {
    color: #f5c236;
}


