{% extends "main/base.html" %}

{% block title %}-About-{% endblock title %}

{% block content %}
    <div class="features">
        <h1>One day, here will be a wonderful story about the project</h1>
        <div class='article'>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta doloribus earum ex
                labore maiores optio porro repellat voluptatem. Consequatur fuga id molestias, officiis quaerat
                quia sed sequi temporibus totam.</p>
        </div>
    </div>
{% endblock content %}

