{% extends "main/base.html" %}

{% block title %}-About us-{% endblock title %}

{% block content %}
    <div class="features">
        <h1>A wonderful story about the project</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta doloribus earum ex labore maiores optio porro repellat voluptatem. Consequatur fuga id molestias, officiis quaerat quia sed sequi temporibus totam.</p>
        <button class="btn btn-warning"> Just another button</button>
    </div>
{% endblock content %}