{% extends "main/base.html" %}

{% block title %}-Contacts-{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Contacts</h1>
        <ul style="text-align: left">
            <li>
                <a href = "mailto: id764g@gmail.com">You can contact me via E-mail: id764g@gmail.com</a>
            </li>
            <li>
                <a href="https://github.com/AlexFromSiberia">My GitHub page</a>
            </li>
            <li>
                <a href="https://github.com/AlexFromSiberia/news_website.git">This project on GitHub</a>
            </li>
        </ul>
    </div>
{% endblock content %}


