{% extends "main/base.html" %}

{% block title %}-Main page-{% endblock title %}

{% load static %}

{% block content %}
    <div class="features">
            <h1>Main page</h1>
            <div class="article">
                <div class="main_page">
                    <h2>Это проект новостного сайта на Django, в котором реализовано:</h2>
                    <ul>
                    	<li> Celery + Redis использованы для выполнения задач отправкаи email администратору сайта (страница "Contacts");</li>
                    	<li> Dotenv: все пароли загружаются из переменных системного окружения.</li>
                    	<li> Captcha: защита от ботов;</li>
                        <li> просмотр новостей, отсортированных по рубрикам, добавление / удаление / редактирование статей зарегестрированными пользователями;</li>
                        <li> пагинация;</li>
                        <li> авторизация пользователей с разделением функционала;</li>
                        <li> вывод статей по рубрикам;</li>
                        <li> вывод популярных статей;</li>
                        <li> редактироватие статей с помощью CKeditor;</li>
                        <li> установлен DDT (Django Debug Toolbar) для поиска проблем и отладки;</li>
                        <li> кастомизирован внешний вид панели администратора, настроено: поиск по темам, фильтрация по рубрикам и авторам новостей.</li>
                        <li> реализован API (через DRF: http://http://alexfromsiberia.site/news/api/v1/NewsArticles/). Ограничения для API: Просмотр - все пользователи. Редактирование - только зарегестрированные пользователи. Троттлинг - 10000 в день лимит для зарегестрированных, 1000 для анонимных.</li>
                        
                    </ul>
                    <p style="color: red;"> Для теста всего функционала, войдите как "сотрудник": </p>
                    <ul>
                        <li>Login: alex</li>
                        <li>Password: alex</li>
                    </ul>
                    <a href="{% url 'login' %}" class="btn btn-danger"> Войти </a>
                                        
                </div>
            </div>
        </div>
{% endblock content %}
